@import "scss/font_mixins";

.nft__header__container {
  background: var(--token-dark-300);
  border-radius: 16px;
  padding: 24px;

  .first {
    min-width: 215px;
    flex: 0 0 30%;
  }

  .second {
    flex: 1 1 0%;
  }

  .dashed__line {
    width: 1px;
    height: 38px;
    background: var(--token-dark-900);
    opacity: 0.33;
  }

  .collection__image {
    width: 38px;
    height: 38px;
    border-radius: 8px;
  }

  h3 {
    @include Small;
    color: var(--token-light-white);
  }

  h4 {
    @include X-Small;
    color: var(--token-light-100);
  }
}