@import "scss/font_mixins";

.credential__li__container {
  display: flex;
  flex-direction: column;
  background-color: var(--token-dark-300);
  padding: 24px;
  border-radius: 8px;

  .credential__li {
    display: flex;
    align-items: center;
    gap: 16px;

    .credential__icon__container {
      position: relative;

      .credential__icon {
        width: 32px;
        height: 32px;
        border-radius: 50%;
      }

      .status__icon {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 16px;
        height: 16px;
        background-color: var(--token-dark-300);
        border-radius: 50%;
        position: absolute;
        top: -4px;
        right: -4px;
        z-index: 101;

        svg {
          width: 12px;
          height: 12px;
        }
      }
    }

    .credential__details__container {
      display: flex;
      flex-direction: column;
      gap: 8px;
      width: 100%;

      h3 {
        @include Medium;
        color: var(--token-light-white);
      }

      .pill__container {
        display: flex;
        gap: 8px;
      }

      .credential__msg {
        @include Small;
        color: var(--token-light-100);

        span {
          color: var(--token-light-white);
        }
      }
    }

    .credential__actions__container {
      width: fit-content;

      button {
        min-width: 100px;
        min-height: 40px;
        border-radius: 4px;
      }
    }

    .credential__actions__icon {
      width: fit-content;
      cursor: pointer;
      margin-right: 8px;
      padding: 4px;

      :hover {
        fill: var(--token-light-500);
      }
    }
  }


  .credential__desc {
    @include SmallLH;
    color: var(--token-light-100);
    margin-top: 24px;
    margin-left: 48px;
  }
}