@import "scss/font_mixins";

.proposal__card__container {
  min-height: 182px;
  background-color: var(--token-dark-300);
  padding: 24px 24px 40px 24px;
  border-radius: 8px;
  position: relative;
  height: 100%;
  width: 100%;

  .user__voted {
    position: absolute;
    top: 0;
    right: 0;

    .bg {
      position: absolute;
      right: 0;
      top: 0;
    }

    .check {
      position: absolute;
      right: 8px;
      top: 8px;
    }
  }

  .progressbar__wrapper {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
  }
}