.image__wrapper {
  position: relative;
  width: 100%;
  height: 248px;
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    position: absolute;
    left: 0;
    opacity: 0;

    &.loaded {
      opacity: 1;
      transition: opacity 0.3s ease-in-out;
      z-index: 101;
    }
  }
}