.skeleton {
  min-height: 182px;
  background-color: var(--token-dark-300);
  padding: 24px 24px 40px 24px;
  border-radius: 8px;
  position: relative;
  height: 100%;
  width: 100%;

  display: flex;
  flex-direction: column;
  gap: 20px;


  .meta__row {
    display: flex;
    align-items: center;
    gap: 8px;

    .meta__image {
      height: 10px;
      width: 10px;
      border-radius: 4px;
      background: var(--token-dark-500, #212227);
    }

    .meta__title {
      width: 100%;
      max-width: 180px;
      height: 10px;
      border-radius: 4px;
      background: var(--token-dark-500, #212227);
    }
  }

  .proposal__header__container {
    display: flex;
    flex-direction: column;
    gap: 10px;

    .proposal__header__line {
      width: calc(100% - 40px);
      height: 14px;
      border-radius: 4px;
      background: var(--token-dark-500, #212227);

      &:first-child {
        width: 70%;
      }

      &:last-child {
        width: 55%;
      }
    }
  }

  .details__container {
    display: flex;
    align-items: center;
    gap: 8px;
    width: 100%;

    .pill {
      flex: 1;
      max-width: 96px;
      height: 18px;
      border-radius: 4px;
      background: var(--token-dark-500, #212227);
    }

    .date {
      flex: 2;
      max-width: 130px;
      height: 10px;
      border-radius: 4px;
      background: var(--token-dark-500, #212227);
    }
  }

  .progressbar {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 8px;
    border-radius: 0px 0px 8px 8px;
    background: var(--token-dark-500, #212227);
  }
}