@import "scss/font_mixins";

.claim__credential__container {
  text-align: center;
  max-width: 320px;

  .claim__credential__icon {
    height: 48px;
    width: 48px;
    border-radius: 50%;
  }

  h3 {
    @include Medium-Large;
    color: var(--token-light-white);
  }

  h4 {
    @include SmallLH;
    color: var(--token-light-100);
  }

  h5 {
    @include Small;
    color: var(--token-light-100);
  }

  h6 {
    @include Small;
    color: var(--token-light-white);
  }
}