@import "scss/font_mixins";

.link__social__li__container {
  display: flex;
  flex-direction: column;
  background-color: var(--token-dark-300);
  padding: 24px;
  border-radius: 8px;

  .link__social__li {
    display: flex;
    align-items: center;
    gap: 16px;

    .link__social__icon__container {
      position: relative;

      .status__icon {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 16px;
        height: 16px;
        background-color: var(--token-dark-300);
        border-radius: 50%;
        position: absolute;
        top: -4px;
        right: -4px;
        z-index: 101;

        svg {
          width: 12px;
          height: 12px;
        }
      }
    }

    .link__social__details__container {
      display: flex;
      flex-direction: column;
      gap: 10px;
      width: 100%;

      h3 {
        @include Medium;
        color: var(--token-light-white);
      }

      h4 {
        @include Small;
        color: var(--token-dark-900);
      }
    }
  }

  .link__social__actions__container {
    width: fit-content;

    button {
      min-width: 100px;
      min-height: 40px;
      border-radius: 4px;
    }
  }

  .link__social__actions__icon {
    width: fit-content;
    cursor: pointer;
    margin-right: 8px;
    padding: 4px;

    :hover {
      fill: var(--token-light-500);
    }
  }
}