@import "scss/font_mixins";

.chain__loader__container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  position: relative;

  .chain__loader__bg {
    width: 100%;
    height: 8px;
    background-color: var(--token-dark-700);
    border-radius: 8px;
  }

  .chain__loader__bar {
    height: 8px;
    background-color: var(--token-dark-900);
    border-radius: 8px;
    position: absolute;
  }

  .text {
    @include X-Small;
    color: var(--token-light-100);
  }
}
