
.expandable__container {
  padding: 24px;
  margin: -24px;
  margin-bottom: -24px;
  padding-bottom: 0px;
  background: var(--token-dark-300);
  transition:
    margin-bottom 0.15s ease-in 0.1s;

  &.expanded {
    margin-bottom: 0px;
    transition: margin-bottom 0.15s ease-in 0.1s;

    .sub__container {
      opacity: 1;
      margin-top: 24px;
      padding-bottom: 24px;
      max-height: 300px;

      transition:
        opacity 0.25s ease-in,
        max-height 0.2s ease-in,
        margin-top 0.15s ease-in 0.1s,
        padding-bottom 0.2s ease-in 0.1s;
    }
  }

  .sub__container {
    padding-top: 24px;
    display: flex;
    gap: 32px;
    background: var(--token-dark-200);
    margin-left: -24px;
    margin-right: -24px;
    margin-top: 0px;

    max-height: 0;
    opacity: 0;
    overflow: hidden;

    transition:
      opacity 0.25s ease-in,
      max-height 0.2s ease-in,
      margin-top 0.15s ease-in 0.1s,
      padding-bottom 0.2s ease-in 0.1s;

    .items__wrapper {
      padding-right: 24px;
      overflow: auto;
    }

    .line {
      margin-left: 40px;
      border-left: 1px dashed var(--token-dark-900);
    }
  }
}