@import "scss/font_mixins";

.geo__block__card__container {
  border-radius: 16px;
  border: 1px solid var(--token-dark-700, #2A2B32);
  background: var(--token-dark-200, #17181C);

  padding: 56px 64px;
  display: flex;
  gap: 64px;
  width: fit-content;
  flex-wrap: wrap;
  flex-wrap: wrap;
  flex-direction: row-reverse;
  justify-content: flex-end;

  .text__container {
    display: flex;
    flex-direction: column;
    gap: 16px;
    max-width: 312px;

    .title {
      @include Large;
      color: var(--token-light-white, #FFFFFF);
    }

    .description {
      @include SmallLH;
      color: var(--token-light-100, #8B8E9C);
    }

    .quote__wrapper {
      display: flex;
      flex-direction: column;
      gap: 8px;
      margin-top: 8px;
    }

    .quote {
      @include SmallLH;
      color: var(--token-light-500, #C8C9D0);
    }

    .author {
      @include SmallLH;
      color: var(--token-light-100, #8B8E9C);
    }
  }

  .icon__container {
    margin: 0 auto;
    min-width: 120px;
    min-height: 120px;
    svg {
      width: 100%;
      height: 100%;
    }
  }

  &.no__background {
    background: none;
    border: none;
    flex-direction: column;
    justify-content: center;

    gap: 24px;

    .text__container {
      align-items: center;
    }

    .icon__container {
      width: 80px;
      height: 80px;
      min-height: unset;
      min-width: unset;
    }
  }

  &.medium {
    flex-direction: row;
    justify-content: flex-start;
    gap: 24px;
    border-radius: 8px;
    border: 1px solid var(--token-dark-700, #2A2B32);
    background: var(--token-dark-300, #1C1D21);

    padding: 24px;

    .text__container {
      gap: 8px;
      max-width: 380px;
  
      .title {
        @include Medium-Large;
        color: var(--token-light-white, #FFFFFF);
      }
  
      .description {
        @include SmallLH;
        color: var(--token-light-100, #8B8E9C);
      }
  
      .quote__wrapper {
        display: flex;
        flex-direction: column;
        gap: 8px;
        margin-top: 8px;
      }
  
      .quote {
        @include SmallLH;
        color: var(--token-light-500, #C8C9D0);
      }
  
      .author {
        @include SmallLH;
        color: var(--token-light-100, #8B8E9C);
      }
    }

    .icon__container {
      width: 72px;
      height: 72px;
      min-height: unset;
      min-width: unset;
    }
  }

  &.small {
    border: 1px solid var(--token-dark-700, #2A2B32);
    background: var(--token-dark-300, #1C1D21);
    flex-direction: column;
    // justify-content: center;
    padding: 24px;
    gap: 16px;
    border-radius: 8px;

    .text__container{
      gap: 8px;
      .title {
        @include Medium-Large;
        color: var(--token-light-white, #FFFFFF);
      }
  
      .description {
        @include X-SmallLH;
        color: var(--token-light-100, #8B8E9C);
      }
    }


    .icon__container {
      width: 48px;
      height: 48px;
      min-height: unset;
      min-width: unset;
      margin: 0;
    }
  }
}