@import "scss/font_mixins";

.validator__page__header {

  .background__image {
    .default__background {
      width: 100%;
      height: 218px;
      background-color: var(--token-dark-300, #1C1D21);
    }
  }

  .details {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-top: -64px;
    padding: 0 32px 32px;

    img {
      height: 80px;
      width: 80px;
      border-radius: 50%;
    }

    .top__row {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .title__container {
        display: flex;
        flex-direction: column;
        gap: 8px;

        h2 {
          @include Large;
          color: var(--token-light-white, #FFFFFF);
        }

        .validator__link {
          @include X-Small;
          color: var(--token-primary-500, #1166F8);
        }
      }

      .buttons__wrapper {
        display: flex;
        gap: 16px;
      }
    }

    p {
      max-width: 700px;
      @include SmallLH;
      color: var(--token-light-100, #8B8E9C)
    }
  }
}