@import "scss/font_mixins";

.seedphrase {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;

  .seedphrase__pill {
    width: 156px;
    height: 30px;
    display: flex;

    .seedphrase__pill__index {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 37px;
      border-top-left-radius: 4px;
      border-bottom-left-radius: 4px;
      background-color: var(--token-dark-700);
      color: var(--token-light-100);
    }

    .seedphrase__pill__value {
      display: flex;
      align-items: center;
      width: calc(100% - 37px);
      border-top-right-radius: 4px;
      border-bottom-right-radius: 4px;
      padding-left: 12px;
      background-color: var(--token-dark-500);
      color: var(--token-light-white);
    }

    span {
      @include X-Small;
    }
  }
}