@import "scss/font_mixins";

.progress__bar__container {
  display: flex;
  align-items: flex-end;
  position: relative;
  border-radius: 4px;
  height: 46px;

  .progress__bar {
    display: flex;
    position: relative;
    width: 100%;
    height: 16px;
    border-radius: 4px;
    overflow: hidden;
    background-color: var(--token-dark-500);

    .yes {
      background-color: var(--token-success-500);
    }

    .no {
      background-color: var(--token-error-500);
    }

    .abstain {
      background-color: var(--token-primary-500);
    }

    .deposit {
      background-color: var(--token-warning-500);

      &__threshold__met {
        background-color: var(--token-success-500);
      }
    }

    .noWithVeto {
      background-color: var(--token-warning-500);
    }
  }

  .threshold {
    position: absolute;
    top: 20px;
    bottom: 0;
    width: 1px;
    background-color: var(--token-light-white);

    .label {
      position: absolute;
      top: -20px;
      transform: translateX(-50%);
      white-space: nowrap;

      @include Small;
      color: var(--token-light-100);
    }

    &.deposit {
      background-color: var(--token-warning-500);

      .label {
        color: var(--token-warning-500);
      }
    }

    &.deposit__threshold__met {
      width: 0px;

      .label {
        color: var(--token-success-500);
        transform: translateX(-125%) !important;
      }
    }
  }

  &.small {
    height: 22px;

    .progress__bar {
      height: 8px;
      border-radius: 0px 0px 8px 8px;
    }

    .threshold {
      top: unset;
      height: 10px;

      .label {
        top: -14px;
        @include XX-Small;
      }
    }
  }
}
